body,
html {
  width: 100% !important;
  height: 100% !important;
  overflow: hidden !important;
}
body {
  overflow: hidden !important;
  overflow-y: auto !important;
}

* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

*:focus {
  outline: none !important;
}
